*{
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}
.landing_container{
    display: flex;
    align-items: center;
    height: 100vh;
    column-gap: 20%;

}
.landing_image {
    height: 90vh;
   
}
.heading{
    color:green;
    font-size: 50px;  
    font-weight: 50;
}
.landing_button_container{
    display: flex;
    flex-direction:column;
}
.home_button{
    color: lightgreen;
    font-size: 30px;
    border-color: greenyellow;
    border: 1px solid;
    
}


