.postview_container{
    padding: 0.5rem;
    border: 0;
    margin: 0;
}

.Navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid;
}
.postview_post_container{
    padding: 0;
    margin: 0;
    background-color: aqua;
    width: fit-content;
    padding: 4rem;
    border: 1px solid green;
    margin: 8rem;
    margin-left: 20rem;
}
.date{
    font-size: small;
}

.first_row{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.post_img{
    width: fit-content;
    border: 1px solid yellowgreen;
}
a#createpost_link_img {
    font-size: 3rem;
    padding-right: 1rem;
}