.postview_container{
    padding: 0.5rem;
    border: 0;
    margin: 0;
}

.Navbar{
    display: flex;
    justify-content: space-between;
}
.postview_post_container{
    padding: 0;
    margin: 0;
    background-color: aqua;
    width: fit-content;
    padding: 4rem;
    border: 1px solid green;
}
.date{
    font-size: small;
}

.first_row{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.post_img{
    width: fit-content;
    border: 1px solid yellowgreen;
}